body {
    text-align: center;
    /* font-family: 'EB Garamond'; */
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Bitter', serif; */

    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Berkshire Swash', cursive; 

    font-size: 22px;
    background-color: #b2ebe6;
    margin: 0 20px 20px 20px;
}

#title_page {
    /* background-color: coral; */
    color: #1c1c7a;
    /* font-size: 60px; */
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

.game_controls {
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px; 
    height: 35px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color:  rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    width: 70px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
}

#start_control:hover .tooltiptext {
    visibility: visible;
}

#pause_control:hover .tooltiptext {
    visibility: visible;
}

#start_control {
    display: inline-block; 
    vertical-align: middle;
    background-image: url(../images/new_game.png);
}

#pause_control {
    display: inline-block; 
    vertical-align: middle;
    background-image: url(../images/pause.png);
}

#board_grid {
    margin: -40px 0;
}

/* Modal windos */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.3);
}

.modal_c {
    background-color: rgba(240, 231, 231);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}

#game_results_title {
    color: #0556b2;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
}

#modal_new_game_control {
    background-color: #000061;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.center_div {
    display: block;
    text-align: center;
    margin: 20px auto 5px auto;
}

#end_game_close,
#pause_close,
#player_character_close {
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

#end_game_close:hover,
#end_game_close:focus,
#pause_close:hover,
#pause_close:focus,
#player_character_close:hover,
#player_character_close:focus {
    color: #0771ea;
    text-decoration: none;
    cursor: pointer;
}

#game_results_title {
    padding-left: 15px;
}


/* Grid layout */
.container {
    display: grid;
    width: 100%;
    grid-gap: 5px;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 70px 1fr 30px;
    grid-template-areas: 
    "header header header"
    "sidebar main sidebar2"
    "footer footer footer";
}

.box {
    border-radius: 10px;
    padding: 5px;
    font-size: 150%;
}

/*
* Header
*/
.header {
    grid-area: header;
    align-self: center;
    justify-content: center;
}


.title {
    display: inline-block;
    margin-right: 70px;
}

.nav {
    display: inline-block;
    margin-left: 70px;
}

/*
* Nav
*/
/* .nav {
    grid-area: nav;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50px 50px;
    grid-template-areas: "start_control pause_control";
    justify-content: center;
    align-self: center;
} */

/*
* Sidebars
*/
.sidebar {
    grid-area: sidebar;
}

.sidebar2 {
    grid-area: sidebar2;
}

/*
* Main
*/
.main {
    grid-area: main;
}

/*
* Footer
*/
.footer {
    grid-area: footer;
    margin-top: 15px;
    font-size: 20px;
}

